* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'League Spartan';
    src: url('path-to-your-font/LeagueSpartan-Regular.woff2') format('woff2'),
         url('path-to-your-font/LeagueSpartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'League Spartan', sans-serif;
    background-color: rgba(17,17,17,1);
    display: inline-flex;
    width: 1680px;
    height: 1159px;
  }

header {
    width: 100%;
    height: 1120px;
    background-color: rgba(17, 17, 17, 1);
    position: absolute;
    flex-shrink: 0;
    top: 0px;
    left: 0px;
    overflow: hidden;
    zoom: 1.5;
}

header::before {
    content: "";
    background-image: url(https://s3-alpha-sig.figma.com/img/408e/4066/dea0153ff21a83d74d37ad619187ed32?Expires=1704672000&Signature=DDku3boqiaL7gnD2zfLK-KLB3GNdwVQZIieQCHT8fo7ay853~kJ-UunaFTZHKIOqpmU~aHN6nkyDbWjKcmhiyOhAD0ogr7q-ON4~ohiBbzBzlwNXqa2zuA~PTf2kIhYmic1nniqIswg6U9dWxGOuuNqdO1WQySQiekm8jYenDx5tRlCiHhwZw~12LJQNQuhOfzY2ZeWm0kUuLHGVFQR5Dl5h2-kneFZ0HF6cRPNKEveIEjLXfJbfELnwvOVHUDjYWHH0cyunx4ZNEj9R1j3umktN0wtJsTAhpJqMgQSypiKu0X2oz5OykQPOf4L-gY6r34SwHcHvt77tzxdbh-tUbA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -200px left -100px;
    opacity: 0.2516;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


    img {
      width: 80px;
      height: 30px;
        position: absolute;
        top: 54px;
        left: 170px;

    }

    header h1 {
width: 300px; 
height: 60px;
color: #FFF;
font-family: 'League Spartan';
font-size: 80px;
font-style: normal;
font-weight: 300;
line-height: 80px; /* 100% */
letter-spacing: -1px;
position: absolute;
top: 300px;
left: 170px;
opacity: 1;

    }

    header p {  
width: 445px;
color: #FFF;
font-family: 'League Spartan';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
top: 450px;
left: 170px;
position: absolute;
    }

    form {
        position: absolute;
        max-width: 1000px;
        margin: 0 auto;
        background-color: #fff; 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        top: 1000px;
        left: 1020px;
        width: 540px;
        height: 545px;

      }
      
      label {
        display: block;
        margin-bottom: 8px;
      }
      
      input, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: none;
        outline: none;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.5s ease-in-out;
      }

      input:focus, button:focus {
        border-bottom-color:#000;

      }

      
      button {
        background-color: #000; /* Setează culoarea butonului la negru */
        color: #fff; /* Setează culoarea textului butonului la alb */
        cursor: pointer;
        border: none;
        border-radius: 6px;
      }
      
      button:hover {
        background-color: #333; /* Efect la hover pentru a întuneca culoarea butonului */
      }

      .party-size-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      .party-size-display {
        margin: 5px 10px;
        font-size:18px; 
      }

      .party-size-btn {
        background-color: #000;
        color:#fff;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 8px 16px;
        font-size: 16px;
        margin: 0 4px;
        transition: background-color 0.3s, color 0.3s;
      }

      .party-size-btn:hover {
        background-color: #333;
        color: #fff;
      }
      .submit-btn{
        width: 500px;
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
        background-color: #000;
        font-family: 'League Spartan';
      }
     
    